---
http_interactions:
- request:
    method: get
    uri: http://www.registeruz.sk/cruz-public/api/uctovne-jednotky?ico=50826042&zmenene-od=1993-01-01
    body:
      encoding: US-ASCII
      string: ''
    headers: {}
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
    body:
      encoding: UTF-8
      string: '{"id":[1689373],"pocetZostavajucichId":0}'
  recorded_at: Sat, 03 Feb 2018 13:41:58 GMT
- request:
    method: get
    uri: http://www.registeruz.sk/cruz-public/api/uctovna-jednotka?id=1689373
    body:
      encoding: US-ASCII
      string: ''
    headers: {}
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
    body:
      encoding: UTF-8
      string: '{"ico":"50826042","nazovUJ":"UOL SK s.r.o.","mesto":"Bratislava - mestská
        časť Rača","ulica":"Karpatské námestie 10A","psc":"83106","datumPoslednejUpravy":"2017-11-03","datumZalozenia":"2017-04-12","pravnaForma":"112","velkostOrganizacie":"00","druhVlastnictva":"7","kraj":"1","okres":"103","sidlo":"529354","zdrojDat":"SUSR","skNace":"69200","konsolidovana":false,"id":1689373}'
  recorded_at: Sat, 03 Feb 2018 13:41:58 GMT
- request:
    method: get
    uri: http://www.registeruz.sk/cruz-public/api/pravne-formy
    body:
      encoding: US-ASCII
      string: ''
    headers: {}
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
    body:
      encoding: UTF-8
      string: '{"klasifikacie":[{"nazov":{"sk":"Zatiaľ neurčené","en":"Not ascertained
        yet"},"kod":"000"},{"nazov":{"sk":"FO v RDIS","en":"NP in tax-roll"},"kod":"100"},{"nazov":{"sk":"Živnostník","en":"Entrepreneur"},"kod":"101"},{"nazov":{"sk":"Živnostník
        v OR","en":"Entrepreneur in BR"},"kod":"102"},{"nazov":{"sk":"SHR roľník","en":"Private
        farmer"},"kod":"103"},{"nazov":{"sk":"SHR roľník v OR","en":"Private farmer
        in BR"},"kod":"104"},{"nazov":{"sk":"FO-slob.povolanie","en":"Freelance occupation"},"kod":"105"},{"nazov":{"sk":"FO-slob.povolanie
        v OR","en":"F[...]
- request:
    method: get
    uri: http://www.registeruz.sk/cruz-public/api/velkosti-organizacie
    body:
      encoding: US-ASCII
      string: ''
    headers: {}
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
    body:
      encoding: UTF-8
      string: '{"klasifikacie":[{"nazov":{"sk":"nezistený","en":"unknown"},"kod":"00"},{"nazov":{"sk":"0
        zamestnancov","en":"0 employees"},"kod":"01"},{"nazov":{"s[...]
- request:
    method: get
    uri: http://www.registeruz.sk/cruz-public/api/druhy-vlastnictva
    body:
      encoding: US-ASCII
      string: ''
    headers: {}
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
    body:
      encoding: UTF-8
      string: '{"klasifikacie":[{"nazov":{"sk":"Zatiaľ nezistené","en":"Not ascertained
        yet"},"kod":"0"},{"nazov":{"sk":"Medzinárodné - verejné","en":"Internatonial-public"},"kod":"1"},{"nazov":{"sk":"Súkromné
        tuzemské","en":"Private inland"},"kod":"2"},{"nazov":{"sk":"Družstevné","en":"Cooperative-owned"},"kod":"3"},{"nazov":{"sk":"Štátne","en":"State-owned"},"kod":"4"},{"nazov":{"sk":"Vlast.územnej
        samosprávy","en":"Municipality-owned"},"kod":"5"},{"nazov":{"sk":"Združ.,p.strany,cirkvi","en":"Ownership
        of associat."},"kod":"6"},{"nazov":{"sk":"Zahraničné","en":"Foreign"},"kod":"7"},{"nazov":{"sk":"Medzinárodné
        - súkromné","en":"International-private"},"kod":"8"},{"nazov":{"sk":"Zmiešané","en":"Mixed"},"kod":"9"}]}'
  recorded_at: Sat, 03 Feb 2018 13:41:58 GMT
- request:
    method: get
    uri: http://www.registeruz.sk/cruz-public/api/kraje
    body:
      encoding: US-ASCII
      string: ''
    headers: {}
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
    body:
      encoding: UTF-8
      string: '{"lokacie":[{"kod":"1","nazov":{"sk":"Bratislavský kraj","en":"Region
        of Bratislava"}},{"kod":"2","nazov":{"sk":"Trnavský kraj","en":"Region of
        Trnava"}},{"kod":"3","nazov":{"sk":"Trenčiansky kraj","en":"Region of Trenčín"}},{"kod":"4","nazov":{"sk":"Nitriansky
        kraj","en":"Region of Nitra"}},{"kod":"5","nazov":{"sk":"Žilinský kraj","en":"Region
        of Žilina"}},{"kod":"6","nazov":{"sk":"Banskobystrický kraj","en":"Reg.of
        Banská Bystrica"}},{"kod":"7","nazov":{"sk":"Prešovský kraj","en":"Region
        of Prešov"}},{"kod":"8","nazov":{"sk":"Košický kraj","en":"Region of Košice"}},{"kod":"9","nazov":{"sk":"Zahraničie","en":"Abroad"}}]}'
  recorded_at: Sat, 03 Feb 2018 13:41:58 GMT
- request:
    method: get
    uri: http://www.registeruz.sk/cruz-public/api/okresy
    body:
      encoding: US-ASCII
      string: ''
    headers: {}
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
    body:
      encoding: UTF-8
      string: '{"lokacie":[{"nadradenaLokacia":1,"kod":"101","nazov":{"sk":"Bratislava
        I","en":"Bratislava I"}},{"nadradenaLokacia":1,"kod":"102","nazov":{"sk":"Bratislava
        II","en":"Bratislava II"}},{"nadradenaLokacia":1,"kod":"103","nazov":{"sk":"Bratislava
        III","en":"Bratislava III"}},{"nadradenaLokacia":1,"kod":"104","nazov":{"sk":"Bratislava
        IV","en":"Bratislava IV"}},{"nadradenaLokacia":1,"kod":"105","nazov":{"sk":"Bratislava
        V","en":"Bratislava V"}},{"nadradenaLokacia":1,"kod":"106","nazov":{"sk"[...]
- request:
    method: get
    uri: http://www.registeruz.sk/cruz-public/api/sidla
    body:
      encoding: US-ASCII
      string: ''
    headers: {}
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
    body:
      encoding: UTF-8
      string: '{"lokacie":[{"nadradenaLokacia":36,"kod":"500011","nazov":{"sk":"Nitra","en":"Nitra"}},{"nadradenaLokacia":36,"kod":"500020","nazov":{"sk":"Alekšince","en":"Alekšince"}},{[...]
- request:
    method: get
    uri: http://www.registeruz.sk/cruz-public/api/sk-nace
    body:
      encoding: US-ASCII
      string: ''
    headers: {}
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
    body:
      encoding: UTF-8
      string: '{"klasifikacie":[{"kod":"01110","nazov":{"sk":"Pestov.obilnín","en":"Growing
        of cereals"}},{"kod":"01120","nazov":{"sk":"Pestov.ryže","en":"Growing of
        ri[...]
