---
http_interactions:
- request:
    method: get
    uri: http://www.registeruz.sk/cruz-public/api/uctovne-zavierky?max-zaznamov=2&zmenene-od=1993-01-01
    body:
      encoding: US-ASCII
      string: ''
    headers: {}
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
    body:
      encoding: UTF-8
      string: '{"id":[1,3],"pocetZostavajucichId":1512332}'
  recorded_at: Sat, 14 Apr 2018 12:23:47 GMT
- request:
    method: get
    uri: http://www.registeruz.sk/cruz-public/api/uctovna-zavierka?id=1
    body:
      encoding: US-ASCII
      string: ''
    headers: {}
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
    body:
      encoding: UTF-8
      string: '{"obdobieDo":"2009-12","typ":"Riadna","zdrojDat":"JUS","obdobieOd":"2009-01","nazovUJ":"Ministerstvo
        obrany Slovenskej republiky","datumPoslednejUpravy":"2013-08-18","ico":"30845572","datumZostaveniaK":"2009-12-31","idUJ":442175,"idUctovnychVykazov":[1,2],"konsolidovana":true,"id":1}'
  recorded_at: Sat, 14 Apr 2018 12:23:47 GMT
- request:
    method: get
    uri: http://www.registeruz.sk/cruz-public/api/uctovna-zavierka?id=3
    body:
      encoding: US-ASCII
      string: ''
    headers: {}
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
    body:
      encoding: UTF-8
      string: '{"datumZostaveniaK":"2009-12-31","idUJ":3312,"idUctovnychVykazov":[5,6],"konsolidovana":true,"obdobieDo":"2009-12","datumPoslednejUpravy":"2013-08-18","zdrojDat":"JUS","nazovUJ":"Ministerstvo
        pôdohospodárstva Slovenskej republiky","ico":"00156621","typ":"Riadna","obdobieOd":"2009-01","id":3}'
  recorded_at: Sat, 14 Apr 2018 12:23:47 GMT
recorded_with: VCR 3.0.3
