---
http_interactions:
- request:
    method: get
    uri: http://www.registeruz.sk/cruz-public/api/uctovna-zavierka?id=1
    body:
      encoding: US-ASCII
      string: ''
    headers: {}
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
    body:
      encoding: UTF-8
      string: '{"obdobieOd":"2009-01","obdobieDo":"2009-12","datumPoslednejUpravy":"2013-08-18","zdrojDat":"JUS","nazovUJ":"Ministerstvo
        obrany Slovenskej republiky","ico":"30845572","typ":"Riadna","konsolidovana":true,"datumZostaveniaK":"2009-12-31","idUJ":442175,"idUctovnychVykazov":[1,2],"id":1}'
  recorded_at: Sat, 14 Apr 2018 11:21:15 GMT
recorded_with: VCR 3.0.3
