---
http_interactions:
- request:
    method: get
    uri: http://www.registeruz.sk/cruz-public/api/uctovna-jednotka?id=1689373
    body:
      encoding: US-ASCII
      string: ''
    headers: {}
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
    body:
      encoding: UTF-8
      string: '{"skNace":"69200","konsolidovana":false,"datumPoslednejUpravy":"2017-11-03","zdrojDat":"SUSR","nazovUJ":"UOL
        SK s.r.o.","ico":"50826042","mesto":"Bratislava - mestská časť Rača","ulica":"Karpatské
        námestie 10A","psc":"83106","datumZalozenia":"2017-04-12","pravnaForma":"112","velkostOrganizacie":"00","druhVlastnictva":"7","kraj":"1","okres":"103","sidlo":"529354","id":1689373}'
  recorded_at: Sat, 14 Apr 2018 11:39:47 GMT
recorded_with: VCR 3.0.3
