---
http_interactions:
- request:
    method: get
    uri: http://www.registeruz.sk/cruz-public/api/okresy
    body:
      encoding: US-ASCII
      string: ''
    headers: {}
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
    body:
      encoding: UTF-8
      string: '{"lokacie":[{"nazov":{"sk":"Bratislava I","en":"Bratislava I"},"nadradenaLokacia":1,"kod":"101"},{"nazov":{"sk":"Bratislava
        II","en":"Bratislava II"},"nadradenaLokacia":1,"kod":"102"},{"nazov":{"sk":"Bratislava
        III","en":"Bratislava III"},"nadradenaLokacia":1,"kod":"103"},{"nazov":{"sk":"Bratislava
        IV","en":"Bratislava IV"},"nadradenaLokacia":1,"kod":"104"},{"nazov":{"sk":"Bratislava
        V","en":"Bratislava V"},"nadradenaLokacia":1,"kod":"105"},{"nazov":{"sk":"Malacky","en":"Malacky"},"nadradenaLokacia":1,"kod":"106"},{"nazov":{"sk":"Pezinok","en":"Pezinok[...]
