---
http_interactions:
- request:
    method: get
    uri: http://www.registeruz.sk/cruz-public/api/pravne-formy
    body:
      encoding: US-ASCII
      string: ''
    headers: {}
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
    body:
      encoding: UTF-8
      string: '{"klasifikacie":[{"nazov":{"sk":"Zatiaľ neurčené","en":"Not ascertained
        yet"},"kod":"000"},{"nazov":{"sk":"FO v RDIS","en":"NP in tax-roll"},"kod":"100"},{"nazov":{"sk":"Živnostník","en":"Entrepreneur"},"kod":"101"},{"nazov":{"sk":"Živnostník
        v OR","en":"Entrepreneur in BR"},"kod":"102"},{"nazov":{"sk":"SHR roľník","en":"Private
        farmer"},"kod":"103"},{"nazov":{"sk":"SHR roľník v OR","en":"Private farmer
        in BR"},"kod":"104"},{"nazov":{"sk":"FO-slob.povolanie","en":"Freelance occupation"},"kod":"105"},{"nazov":{"sk":"FO-slob.povolanie
        v OR","en":"F[...]
