---
http_interactions:
- request:
    method: get
    uri: http://www.registeruz.sk/cruz-public/api/sk-nace
    body:
      encoding: US-ASCII
      string: ''
    headers: {}
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
    body:
      encoding: UTF-8
      string: '{"klasifikacie":[{"kod":"01110","nazov":{"sk":"Pestov.obilnín","en":"Growing
        of cereals"}},{"kod":"01120","nazov":{"sk":"Pestov.ryže","en":"Growing of
        rice"}},{"kod":"01130","nazov":{"sk":"Pestov.zeleniny,melónov","en":"Growing
        of vegetables"}},{"kod":"01140","nazov":{"sk":"Pestov.cukrovej trstiny","en":"Growing
        of sugar cane"}},{"kod":"01150","nazov":{"sk":"Pestov.tabaku","en":"Growing
        of tobacco"}},{"kod":"01160","nazov":{"sk":"Pestov.plodín na vlákno","en":"Growing
        of fibre crops"}},{"kod":"01190","nazov":{"sk":[...]
