---
http_interactions:
- request:
    method: get
    uri: http://www.registeruz.sk/cruz-public/api/velkosti-organizacie
    body:
      encoding: US-ASCII
      string: ''
    headers: {}
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
    body:
      encoding: UTF-8
      string: '{"klasifikacie":[{"kod":"00","nazov":{"sk":"nezistený","en":"unknown"}},{"kod":"01","nazov":{"sk":"0
        zamestnancov","en":"0 employees"}},{"kod":"02","nazov":{"sk":"1 zamestnanec","en":"1
        employees"}},{"kod":"03","nazov":{"sk":"2 zamestnanci","en":"2 employees"}},{"kod":"04","nazov":{"sk":"3-4
        zamestnanci","en":"3-4 employees"}},{"kod":"05","nazov":{"sk":"5-9 zamestnancov","en":"5-9
        employees"}},{"kod":"06","nazov":{"sk":"10-19 zamestnancov","en":"10-19 employees"}},{"kod":"07","nazov":{"sk":"20-24
        zamestnancov","en"[...]
